@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white !important;
    margin: 0;
    padding: 0;
  }
  
  aside, nav, header, button, .no-print {
    display: none !important;
  }
  
  main, .print-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  
  .print-page-break {
    page-break-after: always;
  }
}